<div>
  <h2 mat-dialog-title>字符串转换</h2>
  <mat-dialog-content>
    <div class="d-flex flex-column">
      <mat-form-field>
        <input matInput placeholder="输入要处理的字符串" [(ngModel)]="content" name="content">
      </mat-form-field>

      <div class="mt-2 gap-1 d-flex">
        @for (item of StringConvertType|toKeyValue; track $index) {
        <button mat-flat-button color="primary" (click)="convertString(item.value)">{{item.value |
          enumText:'StringConvertType'}} </button>
        }
      </div>
      <div class="mt-2 d-flex flex-column">
        @if(result){
        @for (key of result.keys(); track $index) {
        <mat-form-field>
          <mat-label>{{key}}</mat-label>
          <input matInput placeholder="label" [value]="result.get(key)">
        </mat-form-field>
        }
        }
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>确认</button>
  </mat-dialog-actions>
</div>