<div class="container">
  <mat-toolbar>
    <button mat-icon-button matTooltip="返回" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button matTooltip="开启监听实体，会自动更新dto" color="primary" [disabled]="isListening"
      (click)="startWatch()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button matTooltip="停止监听实体" color="primary" [disabled]="!isListening" (click)="stopWatch()">
      <mat-icon>stop_circle</mat-icon>
    </button> -->
  </mat-toolbar>
</div>