<div class="d-flex flex-column p-2">
  <div class="d-flex">
    <div class="d-flex align-items-center">
      <h3>RestfulAPI生成</h3>
      <button class="ms-2" color="primary" mat-flat-button (click)="convert()">
        生成
      </button>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-md-4 col-sm-12">
      <form>
        <!-- 使用mat-form-field 添加两个input 控件,一个是模型名，一个是说明；一个slide控件，是否使用DTO -->
        <mat-form-field class="w-100">
          <mat-label>模型名</mat-label>
          <input matInput placeholder="模型名" [(ngModel)]="modelName" name="modelName">
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>说明</mat-label>
          <input matInput placeholder="说明" [(ngModel)]="description" name="description">
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="useDto" name="useDTO">使用DTO</mat-slide-toggle>
      </form>
    </div>
    <div class="col-md-8 col-sm-12">
      <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="classCode"></ngx-monaco-editor>
    </div>
  </div>
</div>