.example-container {
  width: 100%;
  height: calc(100vh - 48px);
}

.example-headers-align .mat-expansion-panel-header-title {
  flex-basis: 0;
}

.example-headers-align {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align {
  margin-left: 8px;
}

.mat-expansion-panel-spacing {
  margin: 0;
  margin-top: 4px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 4px 16px !important;
}

.mat-expansion-panel-header {
  padding: 0 8px;
  background-color: rgb(245, 245, 245);
}

.mat-expansion-panel-header-title {
  color: rgb(65, 65, 65);
  font-weight: bold;
  font-size: 16px;
}