table {
  border-collapse: collapse;
  margin-bottom: 12px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
}

table tr:not(:last-child) {
  border-bottom: 1px solid gray;
}

td,
th {
  padding: 4px 8px;
}