@page
@model IndexModel
@{
  ViewData["Title"] = "主页";
}
<div class="col">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">新增项目</button>
        </div>
    </div>
  @*项目列表*@
    <div class="row mt-3 g-1">

    @foreach (var item in Model.Projects)
    {
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">@item.DisplayName</h5>
                  <p class="card-text">
            @item.Name
                  </p>
                  <p class="card-text">
                      路径:
                      <span>@item.Path</span>
                  </p>
                  <a asp-page="/Workspace/Index" asp-route-id="@item.Id" class="btn btn-primary">进入工作台</a>
              </div>
          </div>
    }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增项目</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="form">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ProjectForm.DisplayName" class="form-label">项目名称</label>
                        <input class="form-control" asp-for="ProjectForm.DisplayName" placeholder="为你的项目命名" required>
                        <span asp-validation-for="ProjectForm.DisplayName" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="ProjectForm.Path" class="form-label">项目路径</label>
                        <input asp-for="ProjectForm.Path" class="form-control" placeholder="绝对路径" required>
                        <span asp-validation-for="ProjectForm.DisplayName" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" onclick="submit()" class="btn btn-primary" id="addProject">确认</button>
                </div>
            </form>

        </div>
    </div>
</div>


@functions {

}

@section Scripts{
  <script>
      var modal = document.getElementById('projectModal');
      var addBtn = document.getElementById('addProject');
      var form = document.getElementById('form');

      function submit(event) {
          form.submit();
          //modal.hide();
      }
  </script>
}