@page
@model IndexModel
@{
    ViewData["Title"] = "主页";
}
<div class="col">
    <div class="row">
        <button class="btn btn-primary">新增项目</button>
    </div>
    @*项目列表*@
    <div class="row">

    </div>
</div>
