.example-headers-align {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align {
    margin-left: 8px;
}

.mat-expansion-panel-spacing {
    margin: 0;
    margin-top: 2px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 4px 16px !important;
}

.mat-expansion-panel-header {
    padding-left: 12px;
    background-color: rgb(250, 250, 250);
    height: 48px
}

.mat-expansion-panel-header-title {
    color: rgb(65, 65, 65);
    font-weight: bold;
    font-size: 16px;
}

.active {
    background-color: rgb(228, 228, 228);
}

.request-type {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 8px;
}

.api-item {
    height: 40px;
    font-size: 0.9rem;
}

.section-block {
    padding: 4px;
    margin: 8px 0;

}

th {
    background-color: #96D4D4;
    font-weight: bold;

}

table,
th,
td {
    border: 1px solid #666;
    border-collapse: collapse;
}