.editor {
  width: 100%;
  height: calc(100vh - 120px);
}

.mat-action-list .mat-list-item:active,
.mat-action-list .mat-list-item:focus,
.mat-action-list .mat-list-item:visited {
  background: #8fb9f7af;
}