<div class="d-flex">
  <div class="col-auto">
    <!-- select from list -->
    <mat-action-list>
      <button mat-list-item *ngFor="let file of allFiles" (click)="selectFile(file.name!)">
        {{file.displayName}}
      </button>
    </mat-action-list>
  </div>
  <!-- file actions -->
  <div class="col" *ngIf="!isLoading">
    <mat-toolbar-row class="d-flex">
      <span></span>
      <span class="example-spacer"></span>
      <button mat-icon-button color="primary" (click)="save()" matTooltip="保存" [disabled]="templateFile?.content==null">
        <mat-icon>save</mat-icon>
      </button>
    </mat-toolbar-row>
    <div class="d-flex w-100">
      <ngx-monaco-editor class="editor" [options]="editorOptions" *ngIf="templateFile"
        [(ngModel)]="templateFile!.content"></ngx-monaco-editor>
    </div>
  </div>
</div>