@{
  Layout = "~/Pages/Shared/_Layout.cshtml";
  ViewData["Title"] = "Worksapce";
}
@*侧边导航*@
<div class="col">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" asp-page="/Workspace/Index">实体</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Workspace/CodeGenerate">代码生成</a>
        </li>
    </ul>
</div>

<div class="col col-auto">
  @RenderBody()
</div>
