<!-- project -->
<div class="container p-2">
  <div class="d-flex flex-row align-items-center">
    <button *ngIf=" type!='desktop'" mat-raised-button (click)="addProjectDialog()" matTooltip="添加本地已有项目"
      color="primary">添加解决方案</button>
    <a *ngIf="type!='desktop'" class="ms-2" mat-mini-fab matTooltip="创建新解决方案" routerLink="/create" color="accent">
      <mat-icon>add</mat-icon>
    </a>
  </div>

  <div class="d-flex gap-1 flex-wrap mt-2" *ngIf="!isLoading">
    <mat-card *ngFor="let item of projects" class="col">
      <mat-card-header>
        <mat-card-title class="d-flex align-items-center">
          <span>
            {{item.displayName}}
          </span>
          <button mat-icon-button matTooltip="项目路径配置" color="primary" (click)="openSetting(item)">
            <mat-icon>settings</mat-icon>
          </button>
          <button *ngIf="item.version!==version" mat-icon-button matTooltip="更新提示" color="warn"
            (click)="openUpdate(item)">
            <mat-icon>info</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle>
          {{item.name}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="word-break: break-all;">
        <div>本地路径</div>
        <span>
          {{item.path}}
        </span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="selectProject(item.id)" color="primary">进入工作台</button>
        <button mat-icon-button matTooltip="删除项目" class="delete-action" (click)="deleteConfirm(item.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #addDialog>
  <h2 mat-dialog-title>添加项目</h2>
  <mat-dialog-content>
    <form [formGroup]="addForm" class="d-flex flex-column">
      <mat-form-field>
        <mat-label>项目名称</mat-label>
        <input matInput placeholder="3-20字符" formControlName="displayName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>项目路径</mat-label>
        <input matInput placeholder="本地项目根目录" formControlName="path">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button (click)="addProject()" color="primary">确认添加</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #settingDialog>
  <ng-container *ngIf="config && !isProcessing">
    <h2 mat-dialog-title>配置修改</h2>
    <mat-dialog-content class="my-1 py-2">
      <p>也可以直接编辑项目根目录中的.droplet-config.json</p>
      <strong>以下路径相对于项目根路径,不用以/开头</strong>
      <form [formGroup]="settingForm" class="d-flex flex-column">
        <mat-form-field>
          <mat-label>实体目录</mat-label>
          <input matInput placeholder="实体所在项目目录,1-200字符" formControlName="entityPath" required>
          <mat-hint>实体需要在该项目下的Entities目录中，才会被识别为实体</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Dto目录</mat-label>
          <input matInput placeholder="Dto所在项目目录,1-200字符" formControlName="dtoPath" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>应用层目录</mat-label>
          <input matInput placeholder="应用层所在项目目录,1-200字符" formControlName="storePath" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>接口层目录</mat-label>
          <input matInput placeholder="API接口层所在项目目录,1-200字符" formControlName="apiPath" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Id类型</mat-label>
          <input matInput placeholder="支持Guid/int" formControlName="idType" required>
        </mat-form-field>
        <mat-label>是否拆分</mat-label>
        <mat-slide-toggle matTooltip="是否拆分成前后台控制器" formControlName="isSplitController">
          是否拆分控制器
        </mat-slide-toggle>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close>取消</button>
      <button mat-button (click)="saveSetting()" color="primary">提交修改</button>
    </mat-dialog-actions>
  </ng-container>
</ng-template>



<ng-template #updateProjectDialog>
  <h2 mat-dialog-title>更新提示</h2>
  <mat-dialog-content>
    <p>项目版本
      <span>
        <strong>{{current?.version}}</strong>
      </span>
      与Studio版本不一致，请使用相同版本的Studio或升级项目！
    </p>
    <p>
      <strong>⚠️ 注意：升级前请备份项目!</strong>
    </p>
    <p>升级后可能存在命名空间引用错误，请按照VS提示修复即可!</p>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end ">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button (click)="updateProject()" color="warn">升级项目</button>
  </mat-dialog-actions>
</ng-template>