<!-- project -->
<div class="container p-2">
  <div class="d-flex flex-row align-items-center">
    <button *ngIf=" type!='desktop'" mat-raised-button (click)="addProjectDialog()" matTooltip="添加本地已有项目"
      color="primary">添加项目</button>
    <a *ngIf="type!='desktop'" class="ms-2" mat-mini-fab matTooltip="创建新解决方案" routerLink="/create" color="accent">
      <mat-icon>add</mat-icon>
    </a>
  </div>

  <div class="d-flex gap-1 flex-wrap mt-2" *ngIf="!isLoading">
    <mat-card *ngFor="let item of projects" class="col">
      <mat-card-header>
        <mat-card-title class="d-flex align-items-center " style="height: 48px;">
          <!-- insert svg icon -->
          <img *ngIf="item.solutionType==SolutionType.DotNet" src="assets/images/dotnet.svg" height="30" width="30">
          <img *ngIf="item.solutionType==SolutionType.Node" src="assets/images/nodejs.svg" height="30" width="30">
          <span class="ms-1">
            {{item.displayName}}
          </span>
          <button *ngIf="item.solutionType==SolutionType.DotNet" mat-icon-button matTooltip="项目路径配置" color="primary"
            (click)="openSetting(item)">
            <mat-icon>settings</mat-icon>
          </button>
          <button *ngIf="item.solutionType==SolutionType.DotNet && item.version!==version" mat-icon-button
            matTooltip="更新提示" color="warn" (click)="openUpdate(item)">
            <mat-icon>info</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle style="font-size: 1rem;">
          {{item.name}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="word-break: break-all;" class="d-flex align-items-center">
        <div class="">
          {{item.path}}
        </div>
      </mat-card-content>
      <mat-card-actions class="justify-content-end" style="height: 32px;">
        <button mat-icon-button matTooltip="删除项目" class="delete-action" (click)="deleteConfirm(item.id)">
          <mat-icon color="warn" fontSet="material-icons-outlined">delete</mat-icon>
        </button>
        <button mat-button (click)="selectProject(item.id)" color="primary">进入工作台</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #addDialog>
  <h2 mat-dialog-title>添加项目或解决方案</h2>
  <mat-dialog-content>
    <p>
      仅支持.NET或Node类型项目
    </p>
    <form [formGroup]="addForm" class="d-flex flex-column">
      <mat-form-field>
        <mat-label>项目名称</mat-label>
        <input matInput placeholder="3-20字符" formControlName="displayName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>项目路径</mat-label>
        <input matInput placeholder="项目根目录路径，非文件路径" formControlName="path" (keyup.enter)="addProject()">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button (click)="addProject()" color="primary">确认添加</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #settingDialog>
  <ng-container *ngIf="config && !isProcessing">
    <h2 mat-dialog-title>配置修改</h2>
    <mat-dialog-content class="my-1 py-2">
      <p>也可以直接编辑项目根目录中的.droplet-config.json</p>
      <strong>以下路径相对于项目根路径,不用以/开头</strong>
      <form [formGroup]="settingForm" class="d-flex flex-column">
        <mat-form-field>
          <mat-label>实体目录</mat-label>
          <input matInput placeholder="实体所在项目目录,1-200字符" formControlName="entityPath" required>
          <mat-hint>实体需要在该项目下的Entities目录中，才会被识别为实体</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Dto目录</mat-label>
          <input matInput placeholder="Dto所在项目目录,1-200字符" formControlName="dtoPath" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>应用层目录</mat-label>
          <input matInput placeholder="应用层所在项目目录,1-200字符" formControlName="storePath" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>接口层目录</mat-label>
          <input matInput placeholder="API接口层所在项目目录,1-200字符" formControlName="apiPath" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Id类型</mat-label>
          <input matInput placeholder="支持Guid/int" formControlName="idType" required>
        </mat-form-field>
        <mat-label>是否拆分</mat-label>
        <mat-slide-toggle matTooltip="是否拆分成前后台控制器" formControlName="isSplitController">
          是否拆分控制器
        </mat-slide-toggle>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions class="justify-content-end">
      <button mat-button mat-dialog-close>取消</button>
      <button mat-button (click)="saveSetting()" color="primary">提交修改</button>
    </mat-dialog-actions>
  </ng-container>
</ng-template>

<ng-template #updateProjectDialog>
  <h2 mat-dialog-title>更新提示</h2>
  <mat-dialog-content *ngIf="!isUpdating">
    <p>
      <strong>
        Studio{{version}}
      </strong>
      不兼容
      <span>
        <strong>{{current?.version}}的项目，</strong>
      </span>
      请使用对应版本的Studio，或者选择升级项目。
    </p>
    <h2 style="color: black;">升级说明</h2>
    <p>如果跨主版本升级，请先更新对应的.NET版本以及相关包，然后再点击升级项目；</p>
    <p>升级时建议关闭占用项目代码的程序，如VS等；</p>
    <p>升级后根据VS提示修复相关错误即可；</p>
    <p>
      <strong>⚠️ 注意：如果不使用源代码管理，请确保在升级之前备份项目!</strong>
    </p>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="isUpdating">
    <p>正在分析和更新解决方案，请稍等</p>
    <ng-container *ngIf="updated; else elseTemplate">
      <!-- 更新完成显示内容 -->
      {{updateResult}}
    </ng-container>
    <ng-template #elseTemplate>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>


  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end ">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button (click)="updateProject()" [disabled]="isUpdating" color="warn" matTooltip="务必做好备份">升级项目</button>
  </mat-dialog-actions>
</ng-template>