@import 'src/vars.scss';

:host {

  ::ng-deep .mat-content.mat-content-hide-toggle {
    margin-right: 0 !important;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 4px !important;
  }

  .sidenav-container {
    width: 100%;
    height: calc(100vh - 64px);
  }

  ::ng-deep .mat-expansion-panel-header {
    padding: 0 4px !important;

  }

  mat-panel-title {
    margin: 0 auto;
    justify-content: center;
  }

  .nav-title {
    font-weight: bold;
    padding: 0 8px;
    font-size: 16px;
  }

  mat-nav-list {
    padding: 1px 0;
  }
}