@import '../../../../vars.scss';


.sidenav-container {
  height: calc(100vh - 64px);
}

::ng-deep .mat-expansion-panel-header {
  padding: 0 4px !important;
}

::ng-deep .mat-content.mat-content-hide-toggle {
  margin-right: 0px !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 4px !important;
}

.mat-expansion-panel-spacing {
  margin: 4px 0;
}

mat-drawer {
  width: auto;
}

mat-panel-title {
  margin: 0 auto;
  justify-content: center;
}

.nav-title {
  font-weight: bold;
  padding: 0 8px;
  color: $dark-primary-color;
  font-size: 16px;
}

mat-nav-list {
  padding: 1px 0;
}