.example-container {
    width: 100%;
    height: calc(100vh - 64px);
}

.example-headers-align .mat-expansion-panel-header-title {
    flex-basis: 0;
}

.example-headers-align {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align {
    margin-left: 8px;
}

.mat-expansion-panel-spacing {
    margin: 0;
    margin-top: 4px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 4px 16px !important;
}

.mat-expansion-panel-header {
    padding: 0 8px;
}

.mat-expansion-panel-header-title {
    font-weight: bold;
    font-size: 16px;
}

.mat-icon {
    margin-right: 4px;
    vertical-align: middle;
}