<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="d-flex flex-row-reverse">
      <button mat-icon-button *ngIf="opened" (click)="toggle()">
        <mat-icon>keyboard_double_arrow_left</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!opened" (click)="toggle()">
        <mat-icon>keyboard_double_arrow_right</mat-icon>
      </button>
    </div>
    <mat-accordion class="example-headers-align" multi>
      <!-- 工作台 -->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>desktop_windows</mat-icon>
            <span *ngIf="opened">工作台</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/workspace/code" routerLinkActive="active">
            <mat-icon>code</mat-icon>
            <span *ngIf="opened">代码生成</span>
          </a>
          <a mat-list-item routerLink="/workspace/docs" routerLinkActive="active">
            <mat-icon>api</mat-icon>
            <span *ngIf="opened">接口文档</span>
          </a>
          <a mat-list-item routerLink="/workspace/setting" routerLinkActive="active">
            <mat-icon>settings</mat-icon>
            <span *ngIf="opened">配置</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content class="px-2">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>