<div class="d-flex flex-column p-2">
  <div class="d-flex">
    <div class="d-flex align-items-center">
      <h3>Json转C#类型</h3>
      <button class="ms-2" color="primary" mat-flat-button (click)="convert()">
        转换
      </button>
      <a href="https://app.quicktype.io" target="_blank" matTooltip="提供更强大的转换功能">
        <button class="ms-2" color="primary" mat-flat-button>
          使用QuickType
        </button>
      </a>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-md-4 col-sm-12">
      <ngx-monaco-editor class="editor" placeholder="json content" [options]="jsonEditorOptions"
        [(ngModel)]="jsonContent"></ngx-monaco-editor>
    </div>
    <div class="col-md-8 col-sm-12">
      <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="classCode"></ngx-monaco-editor>
    </div>
  </div>
</div>