<mat-toolbar fxLayoutGap="4px">
  <button color="basic" mat-icon-button matTooltip="返回" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
    编辑
</mat-toolbar>
<form class="d-flex" *ngIf="!isLoading" [formGroup]="formGroup" (ngSubmit)="edit()">
  <div class="d-flex flex-column w-100">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name"  minlength="" maxlength="30">
    <mat-error *ngIf="name?.invalid">
    {{getValidatorMessage('name')}}
    </mat-error>
  </mat-form-field>
    <mat-slide-toggle color="primary" formControlName="isSystem">IsSystem</mat-slide-toggle>
  <mat-form-field>
    <mat-label>Icon</mat-label>
    <input matInput placeholder="Icon" formControlName="icon"  minlength="" maxlength="30">
    <mat-error *ngIf="icon?.invalid">
    {{getValidatorMessage('icon')}}
    </mat-error>
  </mat-form-field>

    <div class="d-flex mt-1">
      <button class="d-flex flex-column" mat-flat-button color="primary" type="submit">保存</button>
    </div>
  </div>
</form>
