<div class="page" *ngIf="this.type!='desktop'">
  <mat-toolbar>
    <div class="d-flex justify-content-center flex-grow-1 ">
      <button mat-button [routerLink]="['/index']" routerLinkActive="active">解决方案</button>
      <button mat-button [routerLink]="['/ai/index']" routerLinkActive="active">AI工具箱</button>
    </div>
    <span *ngIf="isLogin">
      <button [matMenuTriggerFor]="appMenu" mat-button style="flex-direction: row-reverse;">
        您已登录
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <span>登出</span>
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-menu>
    </span>
    <span>
      <button mat-button matTooltip="Studio版本"> 版本:{{version}}</button>
    </span>
    <!-- <span *ngIf="!isLogin">
      <button mat-button (click)="login()" matTooltip="无需登录即可使用">登录</button>
    </span> -->
  </mat-toolbar>
</div>

<!-- 快捷操作 -->
<div class="shortcuts">
  <button mat-mini-fab color="warn" matTooltip="切换解决方案" (click)="openSolutionSheet()">
    <mat-icon fontSet="material-icons-outlined">change_circle</mat-icon>
  </button>
</div>

<ng-template #projectSheet>
  <mat-nav-list *ngFor="let item of projects">
    <a mat-list-item (click)="changeSolution(item.id)">
      <span matListItemTitle [style.color]="item.displayName==projectName?'#3f51b5':''">
        {{item.displayName}}
      </span>
      <span matLine>{{item.name}}</span>
    </a>
  </mat-nav-list>
</ng-template>