<mat-drawer-container>
  <!-- AI对话框 -->
  <mat-drawer mode="side" position="end" [(opened)]="openedChat">
    <div class="d-flex flex-column">
      <app-chatbot></app-chatbot>
    </div>
  </mat-drawer>
  <mat-drawer-content class="page" *ngIf="this.type!='desktop'">
    <mat-toolbar class="d-flex flex-row">
      <div class="flex-start">
        Ater.Dry
      </div>
      <div class="d-flex flex-fill justify-content-center flex-grow-1 gap-1">
        <button mat-button [routerLink]="['/index']" routerLinkActive="active">解决方案</button>
        <button mat-button [routerLink]="['/tools']" routerLinkActive="active">快捷工具</button>
      </div>
      <div class="flex-end align-items-center align-content-center d-flex">
        @if (isLogin) {
        <button [matMenuTriggerFor]="appMenu" mat-button style="flex-direction: row-reverse;">
          您已登录
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="logout()">
            <span>登出</span>
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-menu>
        }

        <button mat-icon-button color="primary" matTooltip="ChatBot" (click)="openChat()">
          <mat-icon fontSet="">assistant</mat-icon>
        </button>
        <a href="https://docs.dusi.dev" target="_blank" style="color: inherit;">
          <button mat-icon-button matTooltip="文档">
            <mat-icon>article</mat-icon>
          </button>
        </a>
        <button mat-icon-button matTooltip="Studio版本" [matTooltip]="version!">
          <mat-icon fontSet="">info</mat-icon>
        </button>
      </div>
      <!-- <span *ngIf="!isLogin">
      <button mat-button (click)="login()" matTooltip="无需登录即可使用">登录</button>
    </span> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!-- 快捷操作 -->
@if(!openedChat){

<app-quick-nav></app-quick-nav>

}