<div class="d-flex justify-content-center" style="margin-top: 2rem">
  <mat-card>
    <mat-card-header>
      <mat-card-title>用户登录</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>用户名</mat-label>
            <input matInput type="text" placeholder="用户名4位以上" formControlName="username" required>
            <mat-error *ngIf="username?.invalid">{{getValidatorMessage('username')}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>密码</mat-label>
            <input type="password" matInput placeholder="密码长度6位(含6位)以上" formControlName="password" required>
            <mat-error *ngIf="password?.invalid">{{getValidatorMessage('password')}}
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">登录</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
