@use 'sass:map';
@use '@angular/material' as mat;
@import './vars.scss';

@include mat.core();

html {
  @include mat.all-component-themes($dark-theme);

  .text-primary {
    @include mat.icon-color($dark-theme, $color-variant: primary);
    @include mat.chips-color($dark-theme, $color-variant: primary);
    @include mat.button-color($dark-theme, $color-variant: primary);
  }

  .text-accent {
    @include mat.icon-color($dark-theme, $color-variant: tertiary);
    @include mat.button-color($dark-theme, $color-variant: tertiary);
  }

  .text-danger {
    @include mat.icon-color($dark-theme, $color-variant: error);
  }

  .active {
    background-color: mat.get-theme-color($dark-theme, primary, 60) !important;
  }

  a {
    color: mat.get-theme-color($dark-theme, primary, 30);
  }

  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors($light-theme);

    .text-primary {
      @include mat.icon-color($light-theme, $color-variant: primary);
      @include mat.chips-color($light-theme, $color-variant: primary);
      @include mat.button-color($light-theme, $color-variant: primary);
    }

    .text-accent {
      @include mat.icon-color($light-theme, $color-variant: tertiary);
    }

    .text-danger {
      @include mat.icon-color($light-theme, $color-variant: error);
    }

    .active {
      background-color: mat.get-theme-color($light-theme, primary, 60) !important;
    }

    a {
      color: mat.get-theme-color($light-theme, primary, 90);
    }
  }
}