@use 'sass:map';
@use '@angular/material' as mat;
@import './vars.scss';

@include mat.core();

$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$blue-palette,
        tertiary: mat.$yellow-palette,
      ),
      typography: (use-system-variables: false),
    ));

$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$blue-palette,
        tertiary: mat.$yellow-palette,
      ),
      typography: (use-system-variables: false),
    ));

html {
  @include mat.all-component-themes($dark-theme);

  .active {
    background-color: mat.get-theme-color($dark-theme, primary, 60) !important;
  }

  a {
    color: mat.get-theme-color($dark-theme, primary, 30);
  }

  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors($light-theme);

    .active {
      background-color: mat.get-theme-color($light-theme, primary, 10) !important;
    }

    a {
      color: mat.get-theme-color($light-theme, primary, 90);
    }
  }
}