@use '@angular/material' as mat;
@import './vars.scss';

@include mat.core();

$light-primary: mat.define-palette(mat.$light_blue-palette, 600, 700, 900);
$light-accent: mat.define-palette(mat.$orange-palette, 700, 800, 900);
$light-warn: mat.define-palette(mat.$red-palette);

$dark-primary: mat.define-palette(mat.$light_blue-palette, 400, 500, 600);
$dark-accent: mat.define-palette(mat.$orange-palette, 300, 400, 500);
$dark-warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme((color: (primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

$light-theme: mat.define-light-theme((color: (primary: $light-primary,
        accent: $light-accent,
        warn: $light-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

html {
  @include mat.all-component-themes($dark-theme);

  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors($light-theme);

    .active {
      background-color: mat.get-theme-color($light-theme, primary, 30) !important;
    }

    a {
      color: mat.get-theme-color($light-theme, primary, 90);
    }

  }

  @media (prefers-color-scheme: dark) {
    .active {
      background-color: mat.get-theme-color($dark-theme, primary, 40) !important;
    }

    a {
      color: mat.get-theme-color($dark-theme, primary, 30);
    }
  }
}