@use '@angular/material' as mat;

$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: (use-system-variables: false),
    ));

$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: (use-system-variables: false),
    ));

$dark-primary-color: mat.get-theme-color($dark-theme, primary, 60);
$light-primary-color: mat.get-theme-color($light-theme, primary, 40);

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);
$dark-color: #212121;