<div class="p-1">
  <div class="d-flex flex-column">
    <!-- 对话内容 -->
    <div class="d-flex flex-column dialog">
      <div class="flex-fill answer-area">
        <markdown [data]="answerContent" *ngIf="answerContent" lineNumbers [start]="1" style="width: auto;word-wrap: break-word">
        </markdown>
      </div>
      <div class="fixed-bottom input-block d-flex">
        <mat-form-field subscriptSizing="dynamic" appearance="outline" class="w-100">
          <textarea matInput cdkTextareaAutosize="true" placeholder="输入您的问题" [(ngModel)]="content"
            (keyup.enter)="send()"></textarea>
          <button mat-icon-button matSuffix (click)="clear()" matTooltip="新对话">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button matSuffix (click)="send()" matTooltip="发送">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>