.dialog {
    height: calc(100vh - 8px);
    width: auto;
    max-width: 800px;
    min-width: 420px;
}

::ng-deep p {
    margin: 8px 0;
}

.answer-area {
    padding: 8px;
    margin: 4px 0;
    width: auto;
    border: 1px solid #666666;
    overflow-y: auto;
}

.input-block {
    padding-bottom: 1px;
    margin-bottom: 1px;
}