<div *ngIf="isLoading" class="d-flex mt-2 justify-content-center align-items-center">
  <mat-spinner [value]="100">
  </mat-spinner>
</div>

<div class="container-fluid p-0" *ngIf="!isLoading">
  <mat-toolbar>
    <span>{{project.displayName}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button matTooltip="添加微服务项目" color="primary" (click)="openAddService()">
      <mat-icon>add_link</mat-icon>
    </button>
  </mat-toolbar>

  <div class="d-flex align-items-center my-2 gap-1">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>服务</mat-label>
      <mat-select placeholder="请选择服务" (selectionChange)="searchEntity($event)" [value]="selectedService">
        <mat-option [value]="null">默认</mat-option>
        <mat-option *ngFor="let item of webProjects" [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="min-width: 300px;" subscriptSizing="dynamic">
      <mat-label>
        搜索实体
      </mat-label>
      <input matInput placeholder="类名或模块名" [(ngModel)]="searchKey" (keyup)="filterEntity()">
    </mat-form-field>
    <button mat-icon-button [matTooltip]="showModuleEntity?'隐藏模块实体':'显示模块实体'" (click)="toggleModule()">
      <mat-icon [color]="showModuleEntity?'primary':''">visibility_off</mat-icon>
    </button>

    <span class="example-spacer"></span>
    <button mat-icon-button matTooltip="添加实体" color="primary" (click)="openAddEntity()" *ngIf="isLogin">
      <mat-icon>add_circle_outline</mat-icon>
    </button>

    <button mat-icon-button matTooltip="清理项目bin/obj,以让分析器可检测到代码修改.如果失败,请尝试关闭占用程序." [disabled]="isSync" (click)="clean()"
      color="primary">
      <mat-icon>cleaning_services</mat-icon>
    </button>
    <button mat-icon-button matTooltip="刷新" (click)="getEntity()" color="primary">
      <mat-icon>refresh</mat-icon>
    </button>

    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" matTooltip="批量操作">
      <mat-icon fontSet="material-icons-outlined">library_add_check</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openGenerateDialog(CommandType.Dto,null)" matTooltip="生成dto,不会覆盖原内容"
        matTooltipPosition="right">生成Dto</button>
      <button mat-menu-item (click)="openGenerateDialog(CommandType.Manager,null)"
        matTooltip="生成dto/dataStore/manager,不会覆盖原内容" matTooltipPosition="right">生成Manager</button>
      <button mat-menu-item (click)="openSelectProjectDialog(CommandType.API,null)"
        matTooltip="生成dto/dataStore/manager/api,不会覆盖原内容" matTooltipPosition="right">生成APIControler</button>
      <button mat-menu-item (click)="openSelectProjectDialog(CommandType.Protobuf,null)" matTooltip="生成proto协议文件"
        matTooltipPosition="right">生成Protobuf</button>
      <button mat-menu-item (click)="clearCodesDialog()" matTooltip="清理实体相关的生成代码"
        matTooltipPosition="right">清理生成代码</button>
    </mat-menu>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>实体文件</th>
      <td mat-cell *matCellDef="let element" (contextmenu)="displayContextMenu($event,element);false">
        <button mat-button color="primary" (click)="openPreviewDialog(element,false)">
          {{element.name}}
          <span *ngIf="element.module" matTooltip="模块标识">({{element.module}})</span>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>说明</th>
      <td mat-cell *matCellDef="let element">
        {{element.comment}}
      </td>
    </ng-container>

    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef>路径 {{baseEntityPath}}</th>
      <td mat-cell *matCellDef="let element">
        {{element.path}}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>操作</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" matTooltip="代码生成" [matMenuTriggerFor]="menu">
          <mat-icon fontSet="material-icons-outlined">add_box</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openGenerateDialog(CommandType.Dto,element)" matTooltip="生成dto"
            matTooltipPosition="right">生成Dto</button>
          <button mat-menu-item (click)="openGenerateDialog(CommandType.Manager,element)"
            matTooltip="生成dto/dataStore/manager" matTooltipPosition="right">生成Manager</button>
          <button mat-menu-item (click)="openSelectProjectDialog(CommandType.API,element)"
            matTooltip="生成dto/dataStore/manager/webapi" matTooltipPosition="right">生成APIControler</button>

          <button mat-menu-item (click)="openNgPagesDialog(element)" matTooltip="生成angular curd组件模块"
            matTooltipPosition="right">生成NG组件模块</button>

          <button mat-menu-item (click)="openSelectProjectDialog(CommandType.Protobuf,element)"
            matTooltip="生成proto协议文件">生成Protobuf</button>
        </mat-menu>
        <button mat-icon-button matTooltip="编辑DTO" matTooltipPosition="below" color="primary" (click)="goToDto(element)"
          [disabled]="!element.hasDto">
          <mat-icon>code</mat-icon>
        </button>

        <button mat-icon-button [disabled]="!element.hasManager" color="primary" matTooltip="已生成Manager"
          (click)="openPreviewDialog(element,true)">
          <mat-icon>linear_scale</mat-icon>
        </button>
        <button mat-icon-button [disabled]="!element.hasAPI" color="primary" matTooltip="已生成API">
          <mat-icon>api</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>

<ng-template #requestDialog>
  <h2 mat-dialog-title>生成请求服务</h2>
  <mat-dialog-content>
    <form [formGroup]="requestForm" class="d-flex flex-column">
      <mat-form-field>
        <mat-label>swagger地址</mat-label>
        <input matInput placeholder="HttpAPI/swagger.json" formControlName="swagger">
      </mat-form-field>
      <mat-form-field>
        <mat-label>请求库类型</mat-label>
        <mat-select placeholder="Placeholder" formControlName="type">
          <mat-option [value]="RequestLibType.NgHttp">
            Angular HttpClient
          </mat-option>
          <mat-option [value]="RequestLibType.Axios">
            Axios
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>前端路径</mat-label>
        <input matInput placeholder="前端代码目录绝对路径" formControlName="path">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button (click)="generateRequest()" color="primary" [disabled]="isSync">生成</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #syncDialog>
  <h2 mat-dialog-title>生成页面</h2>
  <mat-dialog-content>
    <p>生成页面仅用于使用了
      <strong>Ater.web.template</strong>
      模板的项目，对添加了[NgPage]特性的实体，会生成
      <strong>Angular</strong>组件内容
    </p>
    <p>
      相关代码生成到
      <strong>Http.API</strong>
      目录下的
      <strong>ClientApp</strong>
      中。
    </p>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button (click)="generateSync()" color="primary" [disabled]="isSync">生成</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #generateDialog>
  <h2 mat-dialog-title>
    生成{{currentType==CommandType.Dto?'DTO':'Manager'}}
  </h2>
  <mat-dialog-content class="py-2">
    <mat-slide-toggle [(ngModel)]="this.force" class="mt-2">覆盖现有代码</mat-slide-toggle>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>取消</button>
    <div class="d-flex align-items-center">
      <button mat-button (click)="generate()" color="primary" [disabled]="isSync">生成</button>
      <mat-spinner *ngIf="isSync" style="width: 26px;height:26px"></mat-spinner>
    </div>
  </mat-dialog-actions>
</ng-template>

<ng-template #protobufDialog>
  <h2 mat-dialog-title>生成protobuf文件</h2>
  <mat-dialog-content>
    <p>请选择项目</p>
    <mat-selection-list (selectionChange)="selectProject($event)">
      <mat-list-option *ngFor="let project of webProjects" [value]="project.path">
        {{project.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button (click)="batch(CommandType.Protobuf)" color="primary" [disabled]="isSync">生成</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #ngPagesDialog>
  <h2 mat-dialog-title>生成Ng页面组件(Material)</h2>
  <mat-dialog-content class="pb-2">
    <p>注：页面依赖ts模型和请求服务，可在Swagger中生成对应的TS代码!</p>
    <mat-form-field class="w-100">
      <mat-label>前端项目根目录</mat-label>
      <input matInput placeholder="路径" [(ngModel)]="webPath" required>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button (click)="genNgModule()" color="primary" [disabled]="isSync">生成</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #addsServiceDialog>
  <h2 mat-dialog-title class="d-flex align-items-center">
    创建微服务项目
    <mat-icon fontSet="material-icons-outlined" class="clickable" matTooltip="微服务说明"
      (click)="openInfo('https://docs.dusi.dev/zh/ater.web/%E6%95%99%E7%A8%8B/%E7%BB%84%E7%BB%87%E4%BB%A3%E7%A0%81.html#%E6%AF%8F%E4%B8%AA%E6%9C%8D%E5%8A%A1%E7%8B%AC%E7%AB%8B%E9%A1%B9%E7%9B%AE')">info</mat-icon>
  </h2>
  <mat-dialog-content>
    <form class="d-flex p-2 flex-column">
      <div class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>服务名称</mat-label>
          <input matInput placeholder="服务名称" [(ngModel)]="newServiceName" name="serviceName">
          <mat-hint>将在Microservice目录下创建新服务项目！</mat-hint>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button color="primary" (click)="addService()">创建</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #apiDialog>
  <h2 mat-dialog-title>生成REST API</h2>
  <mat-dialog-content>
    <!-- <p>请选择项目，模块实体则忽略</p>
    <mat-selection-list (selectionChange)="selectProject($event)">
      <mat-list-option *ngFor="let project of webProjects" [value]="project.path">
        {{project.name}}
      </mat-list-option>
    </mat-selection-list> -->
    <mat-slide-toggle [(ngModel)]="this.force" class="mt-2">覆盖现有代码</mat-slide-toggle>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>取消</button>
    <div class="d-flex align-items-center">
      <button mat-button (click)="batch(CommandType.API)" color="primary" [disabled]="isSync">生成</button>
      <mat-spinner *ngIf="isSync" style="width: 26px;height:26px"></mat-spinner>
    </div>
  </mat-dialog-actions>
</ng-template>

<ng-template #previewDialog>
  <h2 mat-dialog-title>
    {{previewItem?.name}}
  </h2>
  <mat-dialog-content>
    <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="previewItem!.content"
      (onInit)="initEditor($event)"></ngx-monaco-editor>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button [mat-dialog-close]="true">取消</button>
  </mat-dialog-actions>
</ng-template>

<!-- 右键菜单 -->
<ng-template let-data #contextMenu>
  <button mat-menu-item (click)="openWithVSCode(data)">
    <span>使用VSCode打开</span>
  </button>
  <button mat-menu-item (click)="openAddDtoDialog(data)">
    <span>添加DTO</span>
  </button>
</ng-template>

<ng-template #addDtoDialog>
  <h2 mat-dialog-title>创建新DTO</h2>
  <mat-dialog-content>
    <div class="d-flex flex-column">
      <mat-form-field>
        <mat-label>文件名</mat-label>
        <input matInput placeholder="Dto文件名称,不用输入.cs后缀" [(ngModel)]="newDtoFileName" name="dtoName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>说明</mat-label>
        <input matInput placeholder="Dto说明" [(ngModel)]="newDtoDescription" name="dtoSummary">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button color="primary" (click)="addDto()">创建</button>
    <button mat-button color="primary" (click)="addDto(true)">创建并打开</button>
  </mat-dialog-actions>
</ng-template>